<footer class="footer_frank">
  <div class="footerinner_frank">
    <a class="subscribe_frank ss-icon" target="_blank" href="{{@blog.url}}rss/">
      <span class="hidethis_frank">Rss</span>
    </a>
    <div class="footertext_frank">&copy; 2013. All rights reserved.</div>
    <div class="footertext_frank">
      <a href="http://frank.jackketcham.com">Frank Theme</a> by <a href="http://twitter.com/_jket">Jack Ketcham</a>
    </div>
    <div class="footertext_frank">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
  </div>
</footer>