b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
tmp

.sass-cache

custom_components
bower.json
component.json
bower_components

.idea/*
*.iml
projectFilesBackup

.DS_Store
